* {
    font-family: 'Share Tech', sans-serif;
}
#fixed-menu {
    position: fixed;
    top: 0;
    height: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.paral {
    min-height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    }

.profile-picture {
    border-radius: 50%;
    max-width: 250px;
    height: auto;
}

    /* Paragraph for Parallax Section */ 
.paralsec p, .paralsec1 p, .paralsec2 p, .paralsec4 p {
    font-size: 40px;
    color:#fff;
    text-align: center;
    line-height: 60px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }
    
    /* Heading for Parallax Section */ 
.paral h1 {
    color: #fff;
    font-size: 70px;
    text-align: center;
    padding-top: 60px;
    line-height: 100px;
    /* text-shadow: 2px 4px 3px rgba(0,0,0,0.3); */
}

    /* Image for Parallax Section */ 
.paralsec {
    background-image: url("../img/img-1.png");
}
    
.paralsec1 {
    background-image: url("../img/img-22.png");
}
    
.paralsec2 {
    background-image: url("../img/3.png");
}

.paralsec3 {
    background-image: url("../img/success.png");
}

.paralsec4 {
    background-image: url("../img/coffee-and-laptop.png");
}
    
.jumbotron{
    margin-bottom: 0;
}

.card {
    margin-bottom: 15px !important;
}

.skill {
    font-size: 1.75rem !important;
    margin-bottom: 10px;
}

.contact {
    text-align: center;
}

.contact a {
    display: block;
    font-size: 4rem;
    background: #fff;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    line-height: 200px;
    margin: 0 auto 15px;
}

.contact-1 a:hover {
    background:#138496;
}

.contact-2 a:hover {
    background: #28A745;
}

.contact-3 a:hover {
    background:#FFC107;
}

.contact a:hover i {
    color: #fff;
}

.wn-footer {
    padding: 2.5rem 0;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.9);
    border-top: .05rem solid #e5e5e5;
}

.wn-footer a {
color: yellow;
}

@media (max-width: 575.98px) {

    #fixed-menu {
        display: none;
    }

}